{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eau du Jour</title>
    <script type="module" src="{% static 'perfume/assets/main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'perfume/assets/main.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="icon" href="{% static 'perfume/favicon.ico' %}" />
  </head>
  <body></body>
    <div id="root"></div>
  </body>
</html>

