# .flake8
[flake8]
exclude =
    .git,
    __pycache__,
    migrations,
    static,
    media,
    env,
    venv
max-line-length = 120
ignore = D
extend-ignore = E203, W503
application-import-names = blog,hobbits,naga,perfume,portfolio,projectGallery,todo,mediaServer
import-order-style = google

