{% extends "base.html" %}
{% block page_content %}
<script>
	document.querySelector('body').style.backgroundImage = 'url(/static/forest.jpg)';
</script>
<div style="width: 50%; margin: 10% auto; background: rgba(0,0,0,0.4); padding:5px; text-align: center; color: white;">
<h1>404</h1>
<p>
Looks like you got lost in the woods.<br>
Please check your URL and make sure it is properly typed.<br>
<br>
<small>If you clicked a link to get here, please contact the site owner.</small>
<p>
</div>
{% endblock %}
