{% extends "base.html" %}
{% load thumbnail staticthumb %}
{% block top_content %}
<p style="float:top; text-align:right;margin:10"><a href="/mediaServer">Movies and TV</a></p>
{% endblock %}
{% block page_content %}
<script>
	var numImages = 26;
	var imageNo = (Math.floor(Math.random() * Math.floor(numImages))) + 1;
	document.querySelector('body').style.backgroundImage = 'url(/static/landingPhotos/' + imageNo + '.jpg)';
</script>
<div class="homepageCenter">
	<h1 style="text-align:center;">Welcome to the Dragon's Lair</h1>
	<br/><br/>
	<div style="display:flex; text-align:center">
		<div style="flex:1; padding:5px">
		<h2> <a href='/naga'>Naga</a></h2><br/>
		{% with nagaImageUrl|static_url as nagaPath %}
		<a href='/naga'><img src="{% thumbnail nagaPath '544' as im %}{{ im.url }}{% endthumbnail %}"
		srcset="
			{% for size in breakpoints %}
			{% thumbnail nagaPath size as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
			{% endfor %}
			"
		alt="Naga" 
		class="homepageMainLink"/>
		</a>
		{% endwith %}
		</div>
		<div style="flex:1; padding:5px">
		<h2> <a href='/music'>Music</a></h2><br/>
		{% with musicImageUrl|static_url as musicPath %}
		<a href='/music'><img src='{% thumbnail musicPath '544' as im %}{{ im.url }}{% endthumbnail %}' 
		srcset="
			{% for size in breakpoints %}
			{% thumbnail musicPath size as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
			{% endfor %}
			"
		alt="Music" 
		class="homepageMainLink"/>
		</a>
		{% endwith %}
		</div>
	</div>
	<p style="text-align:center"><a href='/projectGallery'>Project Gallery</a></p>
</div>
<div class="iconFooter">
	<div class="iconFooterInner">
		<a target="_blank" href="https://www.facebook.com/vanessa.miller">
		 <img class="icon" alt="Facebook" src="/static/icons/facebook.png"
		 width=25" height="25">
	      </a>
		<a target="_blank" href="https://www.linkedin.com/in/vanessagmiller/">
		 <img class="icon" alt="LinkedIn" src="/static/icons/linkedin.png"
		 width=25" height="25">
	      </a>
		<a target="_blank" href="https://github.com/vgmiller">
		 <img class="icon" alt="GitHub" src="/static/icons/github.png"
		 width=25" height="25">
	      </a>
		<a target="_blank" href="https://soundcloud.com/vmillermusic">
		 <img class="icon" alt="SoundCloud" src="/static/icons/soundcloud.png"
		 width=25" height="25">
	      </a>
		<a target="_blank" href="https://www.instagram.com/larval.nemesis/">
		 <img class="icon" alt="Instagram" src="/static/icons/instagram.png"
		 width=25" height="25">
	      </a>
	</div>
</div>
{% endblock %}
