{% extends "base.html" %}
{% load thumbnail %}
{% block top_content %}
<p style="float:top; text-align:right;margin:10"><a href="/mediaServer">Movies and TV</a></p>
{% endblock %}
{% block page_content %}
<script>
	var numImages = 26;
	var imageNo = (Math.floor(Math.random() * Math.floor(numImages))) + 1;
	document.querySelector('body').style.backgroundImage = 'url(/static/landingPhotos/' + imageNo + '.jpg)';
</script>
<div class="homepageCenter">
	<h1 style="text-align:center;">Welcome to the Dragon's Lair</h1>
	<br/><br/>
	<div class="homepageDock">
		<div class="homepageDockEl">
		<h2> <a href='/naga'>Naga</a></h2><br/>
		<a href='/naga'><img src="{% thumbnail nagaImageUrl '544' as im %}{{ im.url }}{% endthumbnail %}"
		srcset="
			{% for size in breakpoints %}
			{% thumbnail nagaImageUrl size as thumb %}  {{ thumb.url }} {{ thumb.x }}w{% endthumbnail %},
			{% endfor %}
			"
		alt="Naga" 
		class="homepageMainLink"/>
		</a>
		</div>
		<div class="homepageDockEl">
		<h2> <a href='https://www.vmillermusic.com'>Music</a></h2><br/>
		<a href='https://www.vmillermusic.com'><img src='{% thumbnail musicImageUrl '544' as im %}{{ im.url }}{% endthumbnail %}' 
		srcset="
			{% for size in breakpoints %}
			{% thumbnail musicImageUrl size as thumb %}  {{ thumb.url }} {{ thumb.x }}w{% endthumbnail %},
			{% endfor %}
			"
		alt="Music" 
		class="homepageMainLink"/>
		</a>
		</div>
		<div class="homepageDockEl">
		<h2> <a href='/hobbits'>The Lord of the Dogwalks</a></h2><br/>
		<a href='/hobbits'><img src='{% thumbnail hobbitsImageUrl '544' as im %}{{ im.url }}{% endthumbnail %}' 
		srcset="
			{% for size in breakpoints %}
			{% thumbnail hobbitsImageUrl size as thumb %}  {{ thumb.url }} {{ thumb.x }}w{% endthumbnail %},
			{% endfor %}
			"
		alt="Hobbits" 
		class="homepageMainLink"/>
		</a>
		</div>
	</div>
	<p style="text-align:center">See <a href='/projectGallery'>Project Gallery</a> for more</p>
</div>
<div class="iconFooter">
	<div class="iconFooterInner">
		<a target="_blank" href="https://www.facebook.com/vanessa.miller">
		 <img class="icon" alt="Facebook" src="/static/icons/facebook.png"
		 width=25" height="25">
	      </a>
		<a target="_blank" href="https://www.linkedin.com/in/vanessagmiller/">
		 <img class="icon" alt="LinkedIn" src="/static/icons/linkedin.png"
		 width=25" height="25">
	      </a>
		<a target="_blank" href="https://github.com/vgmiller">
		 <img class="icon" alt="GitHub" src="/static/icons/github.png"
		 width=25" height="25">
	      </a>
		<a target="_blank" href="https://soundcloud.com/vmillermusic">
		 <img class="icon" alt="SoundCloud" src="/static/icons/soundcloud.png"
		 width=25" height="25">
	      </a>
		<a target="_blank" href="https://www.instagram.com/piccolo_nessa/">
		 <img class="icon" alt="Instagram" src="/static/icons/instagram.png"
		 width=25" height="25">
	      </a>
	</div>
</div>
{% endblock %}
