<link rel="stylesheet" type="text/css" href="/static/naga/naga.css">
<head><title>Naga</title></head>
{% extends "base.html" %}
{% block top_content %}
<p style="text-align:right;z-index:5;position:absolute;top:5px;right:5px;">
{% if user and user.username %}
Logged in as <b>{{ user.username }}</b> (<a href="/naga/accounts/profile">My Profile</a> or <a href="/naga/accounts/logout">Logout</a>)<br/>
{% else %}
<a href="/naga/accounts/login">Login</a> or <a href="/naga/accounts/signup">Sign Up</a><br/>
{% endif %}
</p>
<br/><br/>
{% endblock %}
