{% extends "naga_base.html" %}
{% block page_content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script>
	$(document).ready(function(){
		  $('[data-toggle="popover"]').popover();
	});
	$('.popover-dismiss').popover({
		trigger: 'focus'
	})
</script>
<div class="pageArea">
	<div name="topAttrs" style="margin: auto auto; width=99%">
		<table class="tableBordered topBar">
		<tr>
		{% for aDict in topAttrs %}
		<td style="padding:10px"><b> {{ aDict.displayname }}:</b> {{ aDict.value }} <br></td>
		{% endfor %}
		</tr>
		</table>
	</div>
	<div name="col1" class="charPgTriColumn">
		<div name="statsAndAbils" class="charPg1ColumnSection">
			<div name="stats" class="charPg1ColumnSection" style="display:inline-block !important; width:30% !important;">
				<table class="tableBordered">
				{% for sDict in stats %}
				<p class="stat"> 
				<tr><td><b>{{ sDict.displayname }}</b></td></tr>
				<tr><td><big><b>
					{% if sDict.mod > 0 %}+{% endif %}{{ sDict.mod }}
				</b></big></td></tr>
				<tr><td><small>{{ sDict.value }}</small></td></tr>
				</p>
				{% endfor %}
				</table>
			</div>
			<div name="abils" class="charPg1ColumnSection" style="display:inline-block !important; width:65% !important;">
				<div name="insp" class="charPg1ColumnSection">
					<table class="tableBordered">
						<tr><td> {{ character.inspiration }}</td><td><b>Inspiration</b></td></tr>
						<tr><td> +{{ character.proficiencyBonus }}</td><td><b>Proficiency Bonus</b></td></tr>
					</table>
				</div>
				<div name="savingThrows" class="charPg1ColumnSection">
					<table class="tableBordered">
						<tr><td><b>Prof.</b></td><td><b>Mod</b></td><td><b>Ability</b></td></tr>
						{% for stDict in savingThrows %}
						<tr>
							<td>
								{% if stDict.isProficient %}X{% else %}O{% endif %}
							</td>
							<td>
								{% if stDict.value > 0 %}+{% endif %}{{ stDict.value }}
							</td>
							<td>{{ stDict.displayname }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
				<div name="abilityChecks" class="charPg1ColumnSection">
					<table class="tableBordered">
						<tr><td><b>Prof.</b></td><td><b>Mod</b></td><td><b>Ability</b></td></tr>
						{% for aDict in abilities %}
						<tr>
							<td>
								{% if aDict.isProficient %}X{% else %}O{% endif %}
							</td>
							<td>
								{% if aDict.value > 0 %}+{% endif %}{{ aDict.value }}
							</td>
							<td>{{ aDict.displayname }} <small>({{ aDict.parentStat }})</small></td>
						</tr>
					{% endfor %}
					</table>
				</div>
			</div>
		</div>
		<div name="passivePerception" class="charPg1ColumnSection">
			<table class="tableBordered">
				<tr><td><b>Passive Wisdom (Perception)</b></td><td>{{ passivePerception }}</td></tr>
			</table>
		</div>
	</div><!--end column1-->
	<div name="col2" class="charPgTriColumn"><!--column2-->
		 <div name"battleTop" class="charPg1ColumnSection">
			<table class="tableBordered">
				<tr><td><b>AC</b></td><td><b>Initiative</b></td><td><b>Speed</b></td></tr>
				<tr><td> {{ character.ac }}</td><td>{{ character.initiative }}</td><td>{{ character.speed }}</td></tr>
			</table>
		</div>
		<div name="hp" class="charPg1ColumnSection">
			<table class="tableBordered">
				<tr><td colspan=3><b>Current HP</b></td></tr>
				<tr><td colspan=3>{{ character.currentHP }}</td></tr>
				<tr><td colspan=3><b>Temp HP</b></td></tr>
				<tr><td colspan=3>{{ character.tempHP }}</td></tr>
				<tr><td colspan=3><b>Hit Dice</b></td></tr>
				<tr><td colspan=3><small>{{ character.hitDiceType }}</small></td></tr>
				<tr><td colspan=3>{{ character.hitDice }}</td></tr>
			</table>
		</div>
		<div name="weapons" class="charPg1ColumnSection">
			<table class="tableBordered">
			<tr><td><b>Weapon</b></td><td><b>Attack Bonus</b></td><td><b>Damage</b></td></tr>
			{% for w in weapons %}
			<tr>
				<td> <a href="javascript://" data-html="true" data-container="body" data-trigger="focus" data-toggle="popover" title="{{ w.displayName }}" data-content="{{ w.longDescription|safe|linebreaksbr }}">{{ w.displayName }}</a></td>
				<td>{% if w.attackBonus > 0 %}+{% endif %}{{ w.attackBonus }}</td>
				<td>{{ w.damage }}</td>
			</tr>
			{% endfor %}
			<tr><td colspan=3> {{ character.weaponsNotes|safe|linebreaksbr }}</td></tr>
			</table>
		</div>
		<div name="money" class="charPg1ColumnSection">
			<table class="tableBordered">
				<tr><td><small>100</small></td><td><b>CP:</b></td><td>{{ money.cp }}</td></tr>
				<tr><td><small>10</small></td><td><b>SP:</b></td><td>{{ money.sp }}</td></tr>
				<tr><td><small>2</small></td><td><b>EP:</b></td><td>{{ money.ep }}</td></tr>
				<tr><td><small>1</small></td><td><b>GP:</b></td><td>{{ money.gp }}</td></tr>
				<tr><td><small>1/10</small></td><td><b>PP:</b></td><td>{{ money.pp }}</td></tr>
			</table>
		</div>
		<div name="equipment" class="charPg1ColumnSection">
			<table class="tableBordered">
			<tr><td><b>Equipment</b></td></tr>
			{% for e in equipment %}
			<tr><td> <a href="javascript://" data-html="true" data-container="body" data-trigger="focus" data-toggle="popover" title="{{ e.displayName }}" data-content="{{ e.longDescription|safe|linebreaksbr }}">{{ e.displayName }}</a></td></tr>
			{% endfor %}
			<tr><td style="text-align: left">{{ character.equipmentNotes|safe|linebreaksbr }}</td></tr>
			</table>
		</div>
	</div><!--end column2-->
	<div name="col3" class="charPgTriColumn"><!--column3-->
		<div name="personality" class="charPg1ColumnSection">
			<table class="tableBordered">
			<tr><td><b>Personality Notes</b></td></tr>
			<tr><td style="text-align: left">{{ character.personalityNotes|safe|linebreaksbr }}</td></tr>
			</table>
		</div>
		<div name="skills" class="charPg1ColumnSection">
			<table class="tableBordered">
			<tr><td><b>Skills</b></td></tr>
			{% for s in skills %}
			<tr><td> <a href="javacript://" data-html="true" data-container="body" data-trigger="focus" data-toggle="popover" title="{{ s.displayName }}" data-content="{{ s.longDescription|safe|linebreaksbr }}">{{ s.displayName }}</a></td></tr>
			{% endfor %}
			</table>
		</div>
		<div name="proficiencies" class="charPg1ColumnSection">
			<table class="tableBordered">
				<tr><td><b>Proficiencies</b></td></tr>
				<tr>
					<td style="text-align: left">{{ character.proficienciesNotes|safe|linebreaksbr }}</td>
				</tr>
			</table>
		</div>
	</div><!---end column3-->
</div><!---end pageArea-->
<div name="spacer">&nbsp;<br></div>
{% endblock %}
