{% extends "naga_base.html" %}
{% block page_content %}
<script>
function openPage(evt, pageName) {
	  // Declare all variables
	  var i, tabcontent, tablinks;

	  // Get all elements with class="tabcontent" and hide them
	  tabcontent = document.getElementsByClassName("tabcontent");
	  for (i = 0; i < tabcontent.length; i++) {
		      tabcontent[i].style.display = "none";
		    }
	  // Show the current tab, and add an "active" class to the button that opened the tab
	  document.getElementById(pageName).style.display = "block";
}
window.onload = function() {
	document.getElementById("defaultOpen").click();
};
</script>
<title>{{ character.name }}</title>
<div class="topBar">
	<div name="header" style="overflow: hidden">
		{% if character.headshot %}
		<img src="{{ character.headshot.url }}" alt="{{ character.name }}" class="headshot">
		{% endif %}
		<h1 style="font-family: Caslon, Plantin, Garamond, serif">{{ character.name }}</h1>
		<p> <a href="{% url 'naga_index' %}">Back to Character List</a></p>
		<br/><br/>
	</div>
	<div name="tabs" style="padding:2px">
		<button class="tablinks" onclick="openPage(event, 'pg1')" id="defaultOpen">Page 1</button>
		<button class="tablinks" onclick="openPage(event, 'pg2')">Page 2</button>
		{% if character.useSpellPage %}
		<button class="tablinks" onclick="openPage(event, 'pg3')">{{ spellcastingClass }} Spells</button>
		{% if s_spellcastingClass %}
		<button class="tablinks" onclick="openPage(event, 'pg3_secondary')">{{ s_spellcastingClass }} Spells</button>
		{% endif %}
		{% endif %}
		{% for page in customPages %}
		<button class="tablinks" onclick="openPage(event, '{{ page.orderindex }}')">{{ page.displayName }}</button>
		{% endfor %}
		<button class="tablinks" onclick="openPage(event, 'pg4')">Campaign Journal</button>
		<button class="tablinks" onclick="openPage(event, 'pg5')">Ref</button>
	</div>
</div>
<div id="pg1" class="tabcontent" style="display:none">
{% include "naga_charPg1.html" %}
</div>
<div id="pg2" class="tabcontent" style="display:none">
{% include "naga_charPg2.html" %}
</div>
<div id="pg3" class="tabcontent" style="display:none">
{% include "naga_charPg3.html" %}
</div>
{% if s_spellcastingClass %}
<div id="pg3_secondary" class="tabcontent" style="display:none">
{% include "naga_charPg3_secondary.html" %}
</div>
{% endif %}
{% for page in customPages %}
<div id="{{ page.orderindex }}" class="tabcontent" style="display:none">
{% include  ""|add:page.templateName %}
</div>
{% endfor %}
<div id="pg4" class="tabcontent" style="display:none">
{% include "naga_charPg4.html" %}
</div>
<div id="pg5" class="tabcontent" style="display:none">
{% include "naga_charPg5.html" %}
</div>
{% endblock %}
