{% extends "naga_charPg_base.html" %}
{% load index %}
{% load slotsTotal %}
{% load slotsUsed %}
{% block page_content %}
<div class="pageArea">
	<div name="topSection">
	<table class="tableBordered" style="display:inline-block">
	<tr>
		<td>{{ spellcastingClass }}</td><td>{{ spellcastingLevel }}</td><td>{{ spellcastingAbility }}</td><td>{{ spellSaveDC }}</td><td>{{ spellAtkBonus }}</td>
	</tr>
	<tr>
		<td><small>Spellcasting Class</small></td><td><small>Level</small></td><td><small>Spellcasting Ability (Mod)</small></td><td><small>Spell Save DC</small></td><td><small>Spell Attack Bonus</small></td>
	</tr>
	</table>
	<p class="normal" style="float:right">All Warlock spells are prepared, has {{ shortRestSlotsTotal }} slots per short rest.</p>
	</div>
	<div name="spacer">&nbsp;<br></div>
	<div name="spells">
		{% for i in '0123456789'|make_list %}
		{% if character|slotsTotal:forloop.counter0 %}
		<div name="{{ forloop.counter0 }}" class="spellSection">
		<table class="tableBordered">
			{% if forloop.counter0 == 0 %}
			<tr><td colspan=3>Cantrips</td></tr>
			{% else %}
			<tr><td><small>Level</small></td><td><small>Spells Known</small></td></tr>
			<tr><td><small>{{ forloop.counter0 }}</small></td><td><small>{{ character|slotsTotal:forloop.counter0 }}</small></td></tr>
			{% endif %}
			{% for s in spells|index:forloop.counter0 %}
			<tr>
			<td colspan=3>
			<a href="javacript://" data-html="true" data-trigger="focus" data-toggle="popover" title="{{ s.displayName }}" data-content="{{ s.popupContent|escape|safe|linebreaksbr }}">{{ s.displayName }}</a></td></tr>
			{% endfor %}
		</table>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</div>
<div name="spacer">&nbsp;<br></div>
{% endblock %}
