{% extends "naga_base.html" %}
{% block page_content %}
<div name="pageArea" class="col-md-10 offset-md-1" style="background-color:AliceBlue">
	<div name="demographics" class="charPgTriColumn">
		<table class="table-bordered" style="width:100%">
			<tr><td>{{ character.age }}</td><td>{{ character.height }}</td><td>{{ character.weight }}</td></tr>
			<tr><td><small>Age</small></td><td><small>Height</small></td><td><small>Weight</small></td></tr>
			<tr><td>{{ character.eyes }}</td><td>{{ character.skin }}</td><td>{{ character.hair }}</td></tr>
			<tr><td><small>Eyes</small></td><td><small>Skin</small></td><td><small>Hair</small></td></tr>
		</table>
	</div>
	<div name="backstory"  class="charPgTriColumn">
		<table class="table-bordered" style="width:100%">
		<tr><td><b>Backstory</b></td></tr>
		<tr>
			<td>{{ character.backstoryNotes|safe|linebreaksbr }}</td>
		</tr>
		</table>
	</div>
	<div name="allies"  class="charPgTriColumn">
		<table class="table-bordered" style="width:100%">
		<tr><td><b>Allies</b></td></tr>
		<tr>
			<td>{{ character.alliesNotes|safe|linebreaksbr }}</td>
		</tr>
		</table>
	</div>
	<div name="additionalNotes" style="padding:10px">
		<table class="table-bordered">
		<tr><td><b>Additional Notes</b></td></tr>
		<tr>
			<td>{{ character.additionalNotes|safe|linebreaksbr }}</td>
		</tr>
		</table>
	</div>
	<div name="treasure">
		<table class="table-bordered">
		<tr><td><b>Treasure</b></td></tr>
		<tr>
			<td>{{ character.treasureNotes|safe|linebreaksbr }}</td>
		</tr>
		</table>
	</div>
</div>
<div name="spacer">&nbsp;<br></div>
{% endblock %}
