{% extends "naga_base.html" %}
{% block page_content %}
<div class="pageArea">
	<div name="demographics" class="charPgTriColumn">
		<table class="tableBordered" style="width:100%">
			<tr><td>{{ character.age }}</td><td>{{ character.height }}</td><td>{{ character.weight }}</td></tr>
			<tr><td><small>Age</small></td><td><small>Height</small></td><td><small>Weight</small></td></tr>
			<tr><td>{{ character.eyes }}</td><td>{{ character.skin }}</td><td>{{ character.hair }}</td></tr>
			<tr><td><small>Eyes</small></td><td><small>Skin</small></td><td><small>Hair</small></td></tr>
		</table>
		<p class="normal"><small><b>Carrying Weight:</b> {{ carryingWeight }} lbs </small></p>
	</div>
	<div name="backstory"  class="charPgTriColumn">
		<table class="tableBordered" style="width:100%">
		<tr><td><b>Backstory</b></td></tr>
		<tr>
			<td>{{ character.backstoryNotes|safe|linebreaksbr }}</td>
		</tr>
		</table>
	</div>
	<div name="allies"  class="charPgTriColumn">
		<table class="tableBordered" style="width:100%">
		<tr><td><b>Allies</b></td></tr>
		<tr>
			<td>{{ character.alliesNotes|safe|linebreaksbr }}</td>
		</tr>
		</table>
	</div>
	<div name="additionalNotes" style="padding:10px; width:99%; margin:auto;">
		<table class="tableBordered" style="margin:auto">
		<tr><td><b>Additional Notes</b></td></tr>
		<tr>
			<td>{{ character.additionalNotes|safe|linebreaksbr }}</td>
		</tr>
		</table>
	</div>
	<div name="treasure" style="padding:10px; width:99%; margin:auto;">
		<table class="tableBordered" style="margin:auto">
		<tr><td><b>Treasure</b></td></tr>
		<tr>
			<td>{{ character.treasureNotes|safe|linebreaksbr }}</td>
		</tr>
		</table>
	</div>
</div>
<div name="spacer">&nbsp;<br></div>
{% endblock %}
