{% extends "naga_base.html" %}
{% block page_content %}
<a href="/">Home</a>
<div class="col-md-8 offset-md-2">
    <h1>Character Index</h1>
    {% for character in characters %}
	<div>
		<h2><a href="{% url 'naga_characterHome' character.name %}">{{ character.name }}</a></h2>
		{% if character.headshot %}
		<div class="col-md-2" style="horizontal-align:right">
			<img class="card-img-top" src="{{ character.headshot.url }}" alt="" width="5%">
		</div>
		<br/><br/>
		{% endif %}
	</div>
    {% endfor %}
</div>
{% endblock %}
