{% extends "project_base.html" %}
{% load thumbnail %}
{% load static %}

{% block page_content %}
<a href="{% url 'project_index' %}">Back to Index</a>
<h1 class="normal">{{ project.title }}</h1>
<p class="normal"><i>{{ project.summary }}</i></p>
<div class="normal projectDetailContainer">
	<div class="normal projectDetailImage">
		<img src="{% thumbnail project.image '768' as im %}{{ im.url }}{% endthumbnail %}" 
			srcset="
				{% for size in breakpoints %}
				{% thumbnail project.image size as thumb %}  {{ thumb.url }} {{ thumb.x }}w{% endthumbnail %},
				{% endfor %}
				"
			class="card-img-top" 
			alt="{{project.title}}"/>
	</div>
	<div class="normal projectDetailBox">
		<h5 class="normal">About the project:</h5>
		<p class="normal">{{ project.description|safe|linebreaksbr }}</p>
		<h5 class="normal">Technology used:</h5>
		<p class="normal">{{ project.technology }}</p>
		{% if project.url %}
		<h5 class="normal"><a href="{{ project.url }}">Go to project</a></h5>
		{% endif %}
	</div>
</div>
{% endblock %}
