{% extends "project_base.html" %}
{% load static %}

{% block page_content %}
<p> <a href="{% url 'project_index' %}">Back to Index</a></p>
<h1 class="normal">Acknowledgements/Thanks</h1>
<div class="normal acknowledgements">
	<p>All code on this site is my own work - however, no one does anything in a vacuum! I wish to acknowledge the following people/tutorials for providing especially key information I needed to create this site!</p>
	<ul>
		<li><a href="https://realpython.com/get-started-with-django-1/">Get Started With Django</a></li>
		<li><a href="https://mikesmithers.wordpress.com/2017/02/21/configuring-django-with-apache-on-a-raspberry-pi/">Configuring Django with Apache on a Raspberry Pi</a></li>
		<li><a href="http://unixetc.co.uk/2017/06/04/using-a-domain-name-with-a-raspberry-pi-web-server/">Using a Domain Name with a Raspberry Pi Web Server (and related articles)</a>
		<li><a href="https://www.digitalocean.com/community/tutorials/how-to-create-a-ssl-certificate-on-apache-for-ubuntu-14-04">Setting up SSL/HTTPS</a></li>
		<li><a href="https://simpleisbetterthancomplex.com/tutorial/2016/06/27/how-to-use-djangos-built-in-login-system.html">Using Django Built-In Login</a></li>
		<li><a href="https://erikrood.com/Posts/py_gsheets.html">pygsheets</a></li>
		<li><a href="https://www.section.io/engineering-education/react-and-django-rest-framework/#:~:text=React%20is%20a%20front%2Dend,scalable%20and%20secure%20website%20applications.">Basic React</a></li>
		<li><a href="https://dev.to/zachtylr21/how-to-serve-a-react-single-page-app-with-django-1a1l">React+Django</a></li>
		<li><a href="https://www.telerik.com/blogs/react-class-component-vs-functional-component-how-choose-whats-difference#:~:text=The%20class%20component%20uses%20ES6,that%20also%20return%20React%20elements.">Class vs. Functional React Components</a></li>
		<li><a href="https://pimylifeup.com/raspberry-pi-mount-usb-drive/">Persistently mounting an external drive</a></li>
	</ul>
	<p>General resources:</p>
	<ul>
	<li><a href="https://docs.djangoproject.com/">DjangoProject</a></li>
	<li><a href="https://www.w3schools.com/">W3Schools</a></li>
	<li><a href="https://stackoverflow.com/">StackOverflow</a></li>
	</ul>
</div>
{% endblock %}
