{% extends "project_base.html" %}
{% load static %}

{% block page_content %}
<a href="{% url 'project_index' %}">Back to Index</a>
<h1 class="normal">{{ project.title }}</h1>
<p class="normal"><i>{{ project.summary }}</i></p>
<div class="normal projectDetailContainer">
	<div class="normal projectDetailImage">
		<img src="{{ project.image.url }}" alt="{{ project.title }}" width="100%" height="100%">
	</div>
	<div class="normal projectDetailBox">
		<h5 class="normal">About the project:</h5>
		<p class="normal">{{ project.description }}</p>
		<h5 class="normal">Technology used:</h5>
		<p class="normal">{{ project.technology }}</p>
		<h5 class="normal"><a href="{{ project.url }}">Go to project</a></h5>
	</div>
</div>
{% endblock %}
