{% extends "project_base.html" %}
{% block page_content %}
<a href="/">Home</a>
<h1 style="text-align:center">Projects</h1>
<div class="normal" style="display:flex; justify-content:center">
{% for project in projects %}
    <div class="project-card">
		<img class="card-img-top" src="{{ project.image.url }}" alt="" width="30%">
		<div class="card-body">
		    <h5 class="card-title">{{ project.title }}</h5>
		    <p class="card-text">{{ project.summary }}</p>
		    <a href="{% url 'project_detail' project.pk %}" class="btn btn-primary">
			Read More
			<span class="fullCardLink"</span>
			</a>
		</div>
	</div>
    {% endfor %}
</div>
<div class="normal" style="text-align:center">
	All code for this site is available for review on <a href="https://github.com/vgmiller/DjangoApps">GitHub</a><br/>
	<a href="{% url 'project_acknowledgements' %}">Acknowledgements</a><br/>
</div>
{% endblock %}
