{% extends "project_base.html" %}
{% load static %}

{% block page_content %}
<h1>Acknowledgements/Thanks</h1>
<p> <a href="{% url 'project_index' %}">Back to Index</a></p>
<div class="col-md-8 offset-md-2">
	<p>All code on this site is my own work - however, no one does anything in a vacuum! I wish to acknowledge the following people/tutorials for providing especially key information I needed to create this site!</p>
	<ul>
		<li><a href="https://realpython.com/get-started-with-django-1/">Get Started With Django</a></li>
		<li><a href="https://mikesmithers.wordpress.com/2017/02/21/configuring-django-with-apache-on-a-raspberry-pi/">Configuring Django with Apache on a Raspberry Pi</a></li>
		<li><a href="http://unixetc.co.uk/2017/06/04/using-a-domain-name-with-a-raspberry-pi-web-server/">Using a Domain Name with a Raspberry Pi Web Server (and related articles)</a>
		<li><a href="https://www.digitalocean.com/community/tutorials/how-to-create-a-ssl-certificate-on-apache-for-ubuntu-14-04">Setting up SSL/HTTPS</a></li>
		<li><a href="https://simpleisbetterthancomplex.com/tutorial/2016/06/27/how-to-use-djangos-built-in-login-system.html">Using Django Built-In Login</a></li>
	</ul>
	<p>General resources:</p>
	<ul>
	<li><a href="https://docs.djangoproject.com/">DjangoProject</a></li>
	<li><a href="https://www.w3schools.com/">W3Schools</a></li>
	<li><a href="https://stackoverflow.com/">StackOverflow</a></li>
	</ul>
</div>
{% endblock %}
