<link rel="stylesheet" type="text/css" href="/static/hobbits/hobbits.css">
<link rel="stylesheet" type="text/css" href="/static/base.css">
<link rel="shortcut icon" href="/static/hobbits/favicon.ico"/>
<head><title>The Lord of the Dogwalks</title></head>
<body>
<h1><span class="pageArea">Hello Hobbits!</span></h1>
<div style="font-weight:bold">
<h3><span class="pageArea">Quick Stats</span></h3>
<table class="tableBordered pageArea">
<tr><td>Total Distance Walked:</td><td>{{ summary.totalDistanceWalked }} miles</td></tr>
<tr><td>Total Number of Walks:</td><td>{{ summary.totalNumberOfWalks }}</td></tr>
<tr><td>First Walk Ever:</td><td>{{ summary.firstWalk.startDateTime }}</td></tr>
<tr><td>Latest Walk:</td><td>{{ summary.lastWalk.startDateTime }}</td></tr>
<tr><td>Days Since Start:</td><td>{{ summary.daysSinceStart }}</td></tr>
<tr><td>Days Walked:</td><td>{{ summary.daysWalked }}</td></tr>
</table>
</div>
<div>
<h3><span class="pageArea">Milestones</span></h3>
<table class="tableBordered pageArea">
<tr><th>Place</th><th>Miles From Shire</th><th>Miles Remaining</th></tr>
{% for ms in milestones %}
<tr><td>{{ ms.text }}</td><td>{{ ms.distanceFromShire }}</td><td>{{ ms.distanceRemaining }}</td></tr>
{% endfor %}
</table>
</div>
<div>
<h3><span class="pageArea">Recent Walks</span></h3>
<span class="pageArea"><a href="log">Full Walk List</a><br/></span>
<span class="pageArea"><button onclick="window.location.href='refreshData'">Refresh the Data</button><br/></span>
<table class="tableBordered pageArea">
<tr><th>Date/Time</th><th>Miles</th></tr>
{% for walk in walks %}
<tr><td>{{ walk.startDateTime }}</td><td>{{ walk.distance }}</td></tr>
{% endfor %}
</table>
</div>
</body>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
