body {
	overflow-x: hidden;
	background-image: url("/static/music/white_wall_hash.png");
}
div.siteContainerOuter {
	overflow-x: hidden;
	max-width: 99%;
	height: 99vh;
	overflow-y: scroll;
	vertical-align: middle;
	margin: auto;
}
div.siteContainerInner {
	position: relative;
	margin: 0 auto;
	width: 70%;
	height: auto;
	text-align: center;
}
div.navBar {
	float:top;
	margin: 10px auto;
	text-align: center;
	padding: 20px;
}
span.navSpan {
	background-color: DarkSeaGreen;
}
a.navItem {
	background-color: DarkSeaGreen;
	border-color: SeaGreen;
	border-radius: 10px;
	padding: 10px 10px;
	color: black;
	font-weight: bold;
	font-size: large;
}
a.navItem:hover {
	background-color: MediumSeaGreen;
}
a.on {
	background-color: MediumPurple;
}
div.repContainer {
	column-count: 2;
}
div.repSection {
	break-inside: avoid-column;
}
table.repertoire {
	padding: 5px;
	margin: 5px;
}
table.repertoire td {
	padding: 1px 5px 1px 3px;
}
div.flexItem {
	flex: 1;
	padding: 5px;
	height: 100%;
}
div.programNav {
	width: 100%;
	text-align: center;
	margin: auto;
	display: flex;
}
button.programNavItem {
	flex: 1;
	padding: 5px;
	margin: auto;
}
button.programNavItem:hover {
	background-color: Thistle;
}
button.activeProgramNavItem {
	background-color: MediumPurple;
}
div.programItem {
	display: none;
}
div.activeProgramItem {
	display: block;
	padding: 20px;
	text-align: center;
	height: 70%;
	width: auto;
}
tr.programPiece td {
	padding: 20px;
}
tr.programMovement td {
	padding: 0 10px 0 0;
	text-align: left;
}
div.bottomSocialMediaIcons {
	margin: 0 auto;
	text-align: center;
}
div.bottomSocialMediaInner {	
	display: inline-block;
	background-color: rgba(255,255,255,0.70);
	padding: 5px;
}
p.nextToPicture {
	text-align: left;
	height: 100%;
	max-width: 100%;
	padding: 10% 5%;
}
img.halfPagePicture {
	height: 80vh;
	width: auto;
}
ul {
	display: inline-block;
	text-align: left;
}
ul.messages {
	font-size:large;
	font-weight:bold;
}
li.success {
	color: green;
}
.flute {
	color: RebeccaPurple;
}
.picc {
	color: ForestGreen;
}
