<link rel="stylesheet" type="text/css" href="/static/music/music.css">
<link rel="stylesheet" type="text/css" href="/static/base.css">
<link rel="shortcut icon" href="/static/favicon.ico"/>
<head><title>Vanessa Miller</title></head>
<body>
<script type="text/javascript">
function navHighlight() {
    var url = location.href.split('/');
    var loc = url[url.length -1];
    var home = "music_index";
    Array.from(document.getElementsByClassName("navItem")).forEach(function(item){
    var path = item.href.split('/');
    var page = path[path.length -1];
    if (page == loc || page == home && loc == '') {
        item.className += ' on';
	}
    });
}
window.onload = function(){
	navHighlight();
};
</script>
<div class="siteContainerOuter">
<div class="siteContainerInner">
	{% block top_content %} 
	<div class="navBar">
		<span class="navSpan">
		<a class="navItem" href="/music">Vanessa Miller</a>
		<a class="navItem" href="/music/about">About</a>
		<a class="navItem" href="/music/recordings">Recordings</a>
		<a class="navItem" href="/music/repertoire">Repertoire</a>
		<a class="navItem" href="/music/samplePrograms">Sample Programs</a>
		<a class="navItem" href="/music/news">News</a>
		<a class="navItem" href="/music/contact">Contact</a>
		</span>
	</div>
	{% endblock %}
	{% block page_content %} {% endblock %}
	{% block bottom_content %} 
	<div class="bottomSocialMediaIcons">
		<div class="iconFooterInner">
			<a target="_blank" href="https://www.linkedin.com/in/vanessagmiller/">
			 <img class="icon" alt="LinkedIn" src="/static/icons/linkedin.png"
			 width=25" height="25">
		      </a>
			<a target="_blank" href="https://soundcloud.com/vmillermusic">
			 <img class="icon" alt="SoundCloud" src="/static/icons/soundcloud.png"
			 width=25" height="25">
		      </a>
		</div>
	</div>
	{% endblock %}
</div> <!-- siteContainerInner -->
</div> <!-- siteContainerOuter -->
</body>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
