{% extends "music_base.html" %}
{% load index %}
{% block page_content %}
The listing below is a representative sample, and Vanessa is always open to new repertoire!
<p style="text-align:right"><font color="purple">Flute</font> <font color="green">Piccolo</font></p>
<div class="repContainer">
{% for heading in repertoire %}
	<div class="repSection">
	<h3>{{ heading }}</h3>
	<table class="repertoire">
	{% for d in repertoire|index:heading %}
		{% if d.instrument == "1" %}
		<tr style="color:purple">
		{% else %}
		<tr style="color:green">
		{% endif %}
		<td>{{ d.composer.lastName }}, {{ d.composer.firstName }}</td><td>{{ d.name }}</td></tr>
	{% endfor %}
	</table>
	</div>
{% endfor %}
</div>
*Concertos and Orchestral works are available with piano accompaniment
{% endblock %}
