{% extends "base.html" %}
{% block page_content %}
<style>
img {
	max-width: 99%;
	height: auto;
	margin: 5px 5px;
	float: right;
}
</style>
<div class="col-md-8 offset-md-2" style="display:inline-block;">
	<h1>Music</h1>
	<div style="display:inline-block; max-width:49%;vertical-align:top;">
	<p>
	Ahoy! This part of the site isn't quite ready yet, but in the meantime you can check out my <a href="https://soundcloud.com/vmillermusic">Soundcloud</a>, or even take a look at my (somewhat old!) <a href="https://vanessamiller.wixsite.com/music">musician website</a>. 
	<br/><br/>
	<a href="/">Back to home</a>
	</p></div>
	<div style="display:inline-block; max-width:49%">
	<img src="/static/music/VMiller_Picc.jpg" alt="Vanessa Miller, Piccolo"> 
	</div>
</div>
{% endblock %}
