{% extends "music_base.html" %}
{% load thumbnail %}
{% block page_content %}
<div class="flexContainer" style="flex-wrap:wrap">
	<div class="flexItem">
	{% with "music/picc_sideSmile.JPG" as imgPath %}
	<img src="{% thumbnail imgPath '1200' as im %}{{ im.url }}{% endthumbnail %}"
	srcset="
		{% for size in breakpoints %}
		{% thumbnail imgPath size as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
		{% endfor %}
		"
	class="halfPagePicture"/>
	{% endwith %}
	</div>
	<div class="flexItem contactForm">
	<h2>Contact Vanessa</h2>
<!--<p>Please reach out via <a href="https://www.linkedin.com/in/vanessagmiller/">LinkedIn</a> for any messages. Thank you!</p>-->
	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
	    {% endfor %}
	</ul>
	{% endif %}
	<form method="post">
	    {% csrf_token %}
	    <div class="form-group">
		{{ form }}
<!--		<button class='js-captcha-refresh' >Refresh Captcha</button> -->
		</div>
	    <div class="form-actions">
	      <button class="contactSubmit" type="submit">Send Message</button>
	    </div>
	</form>
	</div>
</div>
{% endblock %}
