{% extends "music_base.html" %}
{% load thumbnail %}
{% block page_content %}
<div class="flexContainer">
	<div class="flexItem">
	<p class="nextToPicture">
	Vanessa Miller currently resides in New York City, where she plays with the New York Repertory Orchestra, the Brooklyn Wind Symphony, and the Riverside Orchestra. She has previously served as Piccolo and Flute with the La Jolla Symphony in San Diego, California. She has also appeared with the Peabody Symphony Orchestra, Occasional Symphony, Peabody Wind Ensemble, and Peabody Chamber Winds, as well as being a soloist on recitals and in performances around the eastern United States. Large ensemble music and pit orchestra are her musical passions.<br/>
	<br/>
	Vanessa received her Masters of Music in Piccolo Performance from Peabody Conservatory, and her Bachelors of Music from the Blair School of Music at Vanderbilt University, where she double majored in Flute Performance and Computer Science. She also studied in Trevor Wye's Flute Studio. Her major teachers include Laurie Sokoloff, Jane Kirchner, Trevor Wye, and Norma Rogers. She has also performed in masterclasses for Julien Beaudiment, Bradley Garner, Fergus McWilliam, and Justin Berrie.<br/>
	<br/>
	<a href="/static/music/VMillerMusicResume.pdf" target="_blank">Click here for a resume</a>
	</p>
	</div>
	<div class="flexItem">
	{% with "music/picc_straightSmile.JPG" as imgPath %}
	<img src="{% thumbnail imgPath '1200' as im %}{{ im.url }}{% endthumbnail %}"
	srcset="
		{% for size in breakpoints %}
		{% thumbnail imgPath size as thumb %}  {{ thumb.url }} {{ thumb.x }}w{% endthumbnail %},
		{% endfor %}
		"
	class="halfPagePicture"/>
	{% endwith %}
	</div>
</div>
{% endblock %}
