{% extends "music_base.html" %}
{% load thumbnail %}
{% block page_content %}
<div class="flexContainer">
	<div class="flexItem">
	<p class="nextToPicture">
	The following performances are currently scheduled:
	</p>
	<ul>
	{% for c in concerts %}
	<li>
		<b>{{ c.date }}, {{ c.time }} - <a href="{{ c.ensemble.orgLink }}">{{ c.ensemble.name }}</a></b> at <a href="{{ c.venue.mapLink}}">{{ c.venue.name }}</a>
		{% if c.ticketLink %}
		<b><a href="{{ c.ticketLink}}">(tickets)</a></b>
		{% endif %}
	</li>
	{% endfor %}
	</ul>
	<p class="nextToPicture" style="font-size:x-small">
	If no ticket link is included, then concert is general admission with a suggested donation at the door.<br/>
	</p>

	<p class="nextToPicture">
	If you'd like to be emailed about future events/concert reminders,<br/>
	please <a href="http://eepurl.com/iolM3c">sign up</a> for the mailing list. Emails are no more than once-a-month, and usually less than that.<br/>
	<br/>
	</p>

	<p class="nextToPicture">
	Vanessa is fully vaccinated and is available to perform in all venues.<br/>
	<br/>
	</p>
	</div>
	<div class="flexItem">
	{% with "music/flute_frontAngled.jpg" as imgPath %}
	<img src="{% thumbnail imgPath '1200' as im %}{{ im.url }}{% endthumbnail %}"
	srcset="
		{% for size in breakpoints %}
		{% thumbnail imgPath size as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
		{% endfor %}
		"
	class="halfPagePicture"/>
	{% endwith %}
	</div>
</div>
{% endblock %}
