{% extends "music_base.html" %}
{% block page_content %}
<div class="flexContainer">
	<div class="flexItem">
	<p class="nextToPicture">
	Due to the Covid-19 pandemic, performances may change, but the following performances are currently scheduled:
	<p>
	<ul>
	<li><b>March 26th, 2022, 3:30pm - <a href="https://mmc.band/bkws">Brooklyn Wind Symphony</a></b></li>
	<li><b>April 2nd, 2022, 7pm - <a href="https://www.nyro.org/">New York Repertory Orchestra</a></b></li>
	<li><b>May 21st, 2022, 7pm - <a href="https://www.nyro.org/">New York Repertory Orchestra</a></b></li>
	</ul>
	<p class="nextToPicture">
	Vanessa is fully vaccinated and is available to perform in all venues where appropriate precautions are taken.<br/>
	<br/>
	</p>
	</div>
	<div class="flexItem">
	<img src="/static/music/flute_frontAngled.jpg" class="halfPagePicture">
	</div>
</div>
{% endblock %}
