{% extends "music_base.html" %}
{% load thumbnail staticthumb %}
{% block page_content %}
<div class="flexContainer">
	<div class="flexItem">
	<p class="nextToPicture">
	Due to the Covid-19 pandemic, performances may change, but the following performances are currently scheduled:
	<p>
	<ul>
	<li>We're off for the summer! Check back in the fall for more performances as they are scheduled.</li>
	<li><b>October 15th, 2022, 8pm - <a href="https://www.nyro.org/">New York Repertory Orchestra</a></b></li>
	</ul>
	<p class="nextToPicture">
	Vanessa is fully vaccinated and is available to perform in all venues where appropriate precautions are taken.<br/>
	<br/>
	</p>
	</div>
	<div class="flexItem">
	{% with "music/flute_frontAngled.jpg"|static_url as imgPath %}
	<img src="{% thumbnail imgPath '1200' as im %}{{ im.url }}{% endthumbnail %}"
	srcset="
		{% for size in breakpoints %}
		{% thumbnail imgPath size as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %},
		{% endfor %}
		"
	class="halfPagePicture"/>
	{% endwith %}
	</div>
</div>
{% endblock %}
