{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>Acknowledgements/Thanks</h1>
<p> <a href="{% url 'project_index' %}">Back to Index</a></p>
<div class="col-md-8 offset-md-2">
	<p>I wish to acknowledge the following people/tutorials for providing the information I needed to create this site!</p>
	<ul>
		<li><a href="https://realpython.com/get-started-with-django-1/">Get Started With Django</a></li>
	<li><a href="https://mikesmithers.wordpress.com/2017/02/21/configuring-django-with-apache-on-a-raspberry-pi/">Configuring Django with Apache on a Raspberry Pi</a></li>
	</ul>
	<p>General resources:</p>
	<ul>
	<li><a href="https://docs.djangoproject.com/">DjangoProject</a></li>
	<li><a href="https://www.w3schools.com/">W3Schools</a></li>
	<li><a href="https://stackoverflow.com/">StackOverflow</a></li>
	</ul>
</div>
{% endblock %}
